.Main__Content {
    width: 100%;
    min-height: 100%;

}



.Content {
    width: 100%;
    min-height: 100%;
    display: flex;
    gap: 10px;
}

.Content__container {
    width: 100%;
    min-height: 100%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

